﻿@charset "UTF-8";

.typo a:hover,a,ins {
    text-decoration: none
}

article,aside,details,figcaption,figure,footer,header,menu,nav,pre,section {
    display: block
}

.typo-em,blockquote,sub,sup {
    position: relative
}

html {
    color: #fff;
    background: #fff;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-rendering: optimizelegibility
}

html.borderbox *,html.borderbox :after,html.borderbox :before {
    box-sizing: border-box
}

.footer,.header,.header>div>div>h1,figure img,figure.highlight::before {
    box-sizing: border-box
}

article,aside,blockquote,body,button,code,dd,details,dl,dt,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hr,input,legend,li,menu,nav,ol,p,pre,section,td,textarea,th,ul {
    margin: 0;
    padding: 0
}

audio,canvas,video {
    display: inline-block
}

body,button,input,select,textarea {
    font-family: 'PT serif',微軟正黑體,微软雅黑,华文细黑,Microsoft Yahei,Hiragino Sans GB,sans-serif;
}

button::-moz-focus-inner,input::-moz-focus-inner {
    padding: 0;
    border: 0
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

fieldset,img {
    border: 0
}

blockquote {
    color: #999;
    font-weight: 400;
    border-left: 1px solid #1abc9c;
    padding-left: 1em;
    margin: 1em 3em 1em 2em
}

@media only screen and (max-width:640px) {
    blockquote {
        margin: 1em 0
    }
}

abbr,acronym {
    border-bottom: 1px dotted;
    font-variant: normal
}

abbr {
    cursor: help
}

del {
    text-decoration: line-through
}

address,caption,cite,code,dfn,em,th,var {
    font-style: normal;
    font-weight: 400
}

ol,ul {
    list-style: none
}

caption,th {
    text-align: left
}

q:after,q:before {
    content: ''
}

sub,sup {
    font-size: 75%;
    line-height: 0
}

:root sub,:root sup {
    vertical-align: baseline
}

sup {
    top: -.5em
}

sub {
    bottom: -.25em
}

a {
    color: #555;
    text-decoration: none
}

a:hover {
    color:#fff;
    text-decoration: none
}

.typo a {
    border-bottom: 1px solid #1abc9c
}

.typo a:hover {
    border-bottom-color: #555;
    color: #555
}

.typo-u,u {
    text-decoration: underline
}

.header a,.index>section>header>nav>ul>li>a,.pagination>a:hover,.post>footer>.tag-list>li>a:hover,.post>footer>div>.category-list a:hover,.post>header>h1>a:hover {
    text-decoration: none
}

mark {
    background: #fffdd1;
    border-bottom: 1px solid #ffedce;
    padding: 2px;
    margin: 0 5px
}

code,pre,pre tt {
    font-family: Courier,'Courier New',monospace
}

pre {
    border: 1px solid #ddd;
    padding: 1em 1.5em;
    -webkit-overflow-scrolling: touch
}

hr {
    border: none;
    border-bottom: 1px solid #cfcfcf;
    margin-bottom: .8em;
    height: 10px
}

.typo-small,figcaption,small {
    font-size: .9em;
    color: #888
}

b,strong {
    font-weight: 700;
    color: #000
}[draggable] {
    cursor: move
}

.clearfix:after,.clearfix:before {
    content: "";
    display: table
}

.clearfix:after {
    clear: both
}

.clearfix {
    zoom: 1
}

.textwrap,.textwrap td,.textwrap th {
    word-wrap: break-word;
    word-break: break-all
}

.textwrap-table {
    table-layout: fixed
}

.serif {
    font-family: Palatino,Optima,Georgia,serif
}

.typo dl,.typo form,.typo hr,.typo ol,.typo p,.typo pre,.typo table,.typo ul,.typo-dl,.typo-form,.typo-hr,.typo-ol,.typo-p,.typo-pre,.typo-table,.typo-ul,blockquote {
    margin-bottom: 1.2em
}

h1,h2,h3,h4,h5,h6 {
    font-weight: 100;
    color: #000;
    line-height: 1.35
}

.typo h1,.typo h2,.typo h3,.typo h4,.typo h5,.typo h6,.typo-h1,.typo-h2,.typo-h3,.typo-h4,.typo-h5,.typo-h6 {
    margin-top: 1.2em;
    margin-bottom: .6em;
    line-height: 1.35
}

.typo h1,.typo-h1 {
    font-size: 2em
}

.typo h2,.typo-h2 {
    font-size: 1.8em
}

.typo h3,.typo-h3 {
    font-size: 1.6em
}

.typo h4,.typo-h4 {
    font-size: 1.4em
}

.typo h5,.typo h6,.typo-h5,.typo-h6 {
    font-size: 1.2em
}

.typo ul,.typo-ul {
    margin-left: 1.3em;
    list-style: disc
}

.typo ol,.typo-ol {
    list-style: decimal;
    margin-left: 1.9em
}

.typo li ol,.typo li ul,.typo-ol ol,.typo-ol ul,.typo-ul ol,.typo-ul ul {
    margin-bottom: .8em;
    margin-left: 2em
}

.typo li ul,.typo-ol ul,.typo-ul ul {
    list-style: circle
}

.typo table caption,.typo table td,.typo table th,.typo-table td,.typo-table th {
    border: 1px solid #ddd;
    padding: .5em 1em;
    color: #666
}

.typo table th,.typo-table th {
    background: #fbfbfb
}

.typo table thead th,.typo-table thead th {
    background: #f1f1f1
}

.typo table caption {
    border-bottom: none
}

.typo-input,.typo-textarea {
    -webkit-appearance: none;
    border-radius: 0
}

.typo em,.typo-em,caption,legend {
    color: #000;
    font-weight: inherit
}

.typo-em:after {
    position: absolute;
    top: .65em;
    left: 0;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    content: "・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・"
}

.typo img {
    max-width: 100%
}

@font-face {
    font-family:NViconsLib2;src:url(../fonts/NViconsLib2.eot?-1rsxqu);src:url(../fonts/NViconsLib2.eot?#iefix-1rsxqu)format("embedded-opentype"),url(../fonts/NViconsLib2.ttf?-1rsxqu)format("truetype"),url(../fonts/NViconsLib2.woff?-1rsxqu)format("woff"),url(../fonts/NViconsLib2.svg?-1rsxqu#NViconsLib2)format("svg");font-weight:400;font-style:normal
}[class*=" icon-"],[class^=icon-] {
    font-family: NViconsLib2;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    font-size: 2rem;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.icon-CN_15yan:before {
    content: "\e601"
}

.icon-CN_115:before {
    content: "\e602"
}

.icon-CN_acfuntv:before {
    content: "\e603"
}

.icon-CN_aikume:before {
    content: "\e604"
}

.icon-CN_Alibabai:before {
    content: "\e605"
}

.icon-CN_Alibabai_Alipay:before {
    content: "\e606"
}

.icon-CN_Alibabai_Aliyun:before {
    content: "\e607"
}

.icon-CN_Alibabai_Laiwang:before {
    content: "\e608"
}

.icon-CN_appinncom:before {
    content: "\e609"
}

.icon-CN_baidu:before {
    content: "\e60a"
}

.icon-CN_baidu_pan:before {
    content: "\e60b"
}

.icon-CN_baidu_shouji:before {
    content: "\e60c"
}

.icon-CN_baidu_tieba:before {
    content: "\e60d"
}

.icon-CN_bilibili:before {
    content: "\e60e"
}

.icon-CN_bilibili_B:before {
    content: "\e60f"
}

.icon-CN_cnblogs:before {
    content: "\e610"
}

.icon-CN_codingnet:before {
    content: "\e611"
}

.icon-CN_coolapkcom_CoolMarket:before {
    content: "\e612"
}

.icon-CN_csdnnet:before {
    content: "\e613"
}

.icon-CN_dewenio:before {
    content: "\e614"
}

.icon-CN_dgtlecom:before {
    content: "\e615"
}

.icon-CN_diandian:before {
    content: "\e616"
}

.icon-CN_douban:before {
    content: "\e617"
}

.icon-CN_douban_artists:before {
    content: "\e618"
}

.icon-CN_douban_B:before {
    content: "\e619"
}

.icon-CN_douban_FM:before {
    content: "\e61a"
}

.icon-CN_douban_group:before {
    content: "\e61b"
}

.icon-CN_douban_movie:before {
    content: "\e61c"
}

.icon-CN_ituring:before {
    content: "\e61d"
}

.icon-CN_douban_Read:before {
    content: "\e600"
}

.icon-CN_duitang:before {
    content: "\e61e"
}

.icon-CN_goldxituio:before {
    content: "\e61f"
}

.icon-CN_guokr:before {
    content: "\e620"
}

.icon-CN_hexieshecom:before {
    content: "\e621"
}

.icon-CN_huaban:before {
    content: "\e622"
}

.icon-CN_Huawei_dbank:before {
    content: "\e623"
}

.icon-CN_hujiang:before {
    content: "\e624"
}

.icon-CN_jianshu:before {
    content: "\e625"
}

.icon-CN_kingsoft_wps_office:before {
    content: "\e626"
}

.icon-CN_meile:before {
    content: "\e627"
}

.icon-CN_mknote:before {
    content: "\e628"
}

.icon-CN_mokocc:before {
    content: "\e629"
}

.icon-CN_momo:before {
    content: "\e62a"
}

.icon-CN_mopcom:before {
    content: "\e62b"
}

.icon-CN_mtimecom:before {
    content: "\e62c"
}

.icon-CN_NetEase_lofter:before {
    content: "\e62d"
}

.icon-CN_NetEase_music:before {
    content: "\e62e"
}

.icon-CN_NetEase_weibo:before {
    content: "\e62f"
}

.icon-CN_NetEase_youdao_note:before {
    content: "\e630"
}

.icon-CN_papame:before {
    content: "\e631"
}

.icon-CN_Qihoo_360_sj:before {
    content: "\e632"
}

.icon-CN_Qihoo_360_yunpan:before {
    content: "\e633"
}

.icon-CN_Qihoo_360_yunpan_nwe:before {
    content: "\e634"
}

.icon-CN_qngoocom:before {
    content: "\e635"
}

.icon-CN_renren:before {
    content: "\e636"
}

.icon-CN_renren_xiaozhan:before {
    content: "\e637"
}

.icon-CN_sina_weibo:before {
    content: "\e638"
}

.icon-CN_sina_weibo_vdisk:before {
    content: "\e639"
}

.icon-CN_Sohu_kan:before {
    content: "\e63a"
}

.icon-CN_taobao:before {
    content: "\e63b"
}

.icon-CN_taobao_wangwang:before {
    content: "\e63c"
}

.icon-CN_tencent:before {
    content: "\e63d"
}

.icon-CN_tencent_pengyou:before {
    content: "\e63e"
}

.icon-CN_tencent_QQ:before {
    content: "\e63f"
}

.icon-CN_tencent_QQ_music:before {
    content: "\e640"
}

.icon-CN_tencent_qzone:before {
    content: "\e641"
}

.icon-CN_tencent_tmyapp:before {
    content: "\e642"
}

.icon-CN_tencent_video:before {
    content: "\e643"
}

.icon-CN_tencent_wechat:before {
    content: "\e644"
}

.icon-CN_tencent_wechat_moments:before {
    content: "\e645"
}

.icon-CN_tencent_weibo:before {
    content: "\e646"
}

.icon-CN_tencent_weibo_B:before {
    content: "\e647"
}

.icon-CN_Tencent_weiyun:before {
    content: "\e648"
}

.icon-CN_tianyacn:before {
    content: "\e649"
}

.icon-CN_tmall:before {
    content: "\e64a"
}

.icon-CN_tuchong:before {
    content: "\e64b"
}

.icon-CN_tudou:before {
    content: "\e64c"
}

.icon-CN_V2EX:before {
    content: "\e64d"
}

.icon-CN_wandoujiacom:before {
    content: "\e64e"
}

.icon-CN_Wiz_note:before {
    content: "\e64f"
}

.icon-CN_xiamicom:before {
    content: "\e650"
}

.icon-CN_xiami_music_app:before {
    content: "\e651"
}

.icon-CN_xianguo:before {
    content: "\e652"
}

.icon-CN_xiaomi:before {
    content: "\e653"
}

.icon-CN_xituio:before {
    content: "\e654"
}

.icon-CN_xunlei:before {
    content: "\e655"
}

.icon-CN_xunlei_B:before {
    content: "\e656"
}

.icon-CN_xunlei_C:before {
    content: "\e657"
}

.icon-CN_yinyuetai:before {
    content: "\e658"
}

.icon-CN_youku:before {
    content: "\e659"
}

.icon-CN_youku_B:before {
    content: "\e65a"
}

.icon-CN_ZAKER:before {
    content: "\e65b"
}

.icon-CN_zhihu:before {
    content: "\e65c"
}

.icon-Design_Behance:before {
    content: "\e65d"
}

.icon-Design_codepen:before {
    content: "\e65e"
}

.icon-Design_deviantart:before {
    content: "\e65f"
}

.icon-Design_deviantart_2014:before {
    content: "\e660"
}

.icon-Design_Dribbble:before {
    content: "\e661"
}

.icon-Design_dropr:before {
    content: "\e662"
}

.icon-Design_Forrst:before {
    content: "\e663"
}

.icon-Design_gameuicn:before {
    content: "\e664"
}

.icon-Design_jaypeg:before {
    content: "\e665"
}

.icon-Design_Loveuicn:before {
    content: "\e666"
}

.icon-Design_pixelapse:before {
    content: "\e667"
}

.icon-Design_Pixiv:before {
    content: "\e668"
}

.icon-Design_poocgcom:before {
    content: "\e669"
}

.icon-Design_shijueme:before {
    content: "\e66a"
}

.icon-Design_uehtmlcom:before {
    content: "\e66b"
}

.icon-Design_uicn:before {
    content: "\e66c"
}

.icon-Design_zcool:before {
    content: "\e66d"
}

.icon-jp_Ameba:before {
    content: "\e66e"
}

.icon-jp_gree:before {
    content: "\e66f"
}

.icon-jp_Hatena_Blog:before {
    content: "\e670"
}

.icon-jp_Hatena_bookmark:before {
    content: "\e671"
}

.icon-jp_Line:before {
    content: "\e672"
}

.icon-jp_mixi:before {
    content: "\e673"
}

.icon-jp_niconico:before {
    content: "\e674"
}

.icon-OS_Android:before {
    content: "\e675"
}

.icon-OS_Apple:before {
    content: "\e676"
}

.icon-OS_Blackberry:before {
    content: "\e677"
}

.icon-OS_LinuxGnome:before {
    content: "\e678"
}

.icon-OS_LinuxRedhat:before {
    content: "\e679"
}

.icon-OS_Linuxubuntu:before {
    content: "\e67a"
}

.icon-OS_Linux:before {
    content: "\e67b"
}

.icon-OS_OSXB:before {
    content: "\e67c"
}

.icon-OS_OSX:before {
    content: "\e67d"
}

.icon-OS_SymbianS60:before {
    content: "\e67e"
}

.icon-OS_Windows:before {
    content: "\e67f"
}

.icon-OS_Xbox:before {
    content: "\e680"
}

.icon-Popular_1x:before {
    content: "\e681"
}

.icon-Popular_500px:before {
    content: "\e682"
}

.icon-Popular_500px_Full:before {
    content: "\e683"
}

.icon-Popular_aim:before {
    content: "\e684"
}

.icon-Popular_app_store_iphone:before {
    content: "\e685"
}

.icon-Popular_Blogger:before {
    content: "\e686"
}

.icon-Popular_box:before {
    content: "\e687"
}

.icon-Popular_box_B:before {
    content: "\e688"
}

.icon-Popular_Delicious:before {
    content: "\e689"
}

.icon-Popular_digg:before {
    content: "\e68a"
}

.icon-Popular_dropbox:before {
    content: "\e68b"
}

.icon-Popular_evernote:before {
    content: "\e68c"
}

.icon-Popular_Facebook:before {
    content: "\e68d"
}

.icon-Popular_Feedly:before {
    content: "\e68e"
}

.icon-Popular_flickr:before {
    content: "\e68f"
}

.icon-Popular_Flipboard:before {
    content: "\e690"
}

.icon-Popular_foursquare:before {
    content: "\e691"
}

.icon-Popular_FriendFeed:before {
    content: "\e692"
}

.icon-Popular_G:before {
    content: "\e693"
}

.icon-Popular_GitHub:before {
    content: "\e694"
}

.icon-Popular_Gmail:before {
    content: "\e695"
}

.icon-Popular_google_drive:before {
    content: "\e696"
}

.icon-Popular_Google_Picasa:before {
    content: "\e697"
}

.icon-Popular_Google_Play:before {
    content: "\e698"
}

.icon-Popular_grooveshark:before {
    content: "\e699"
}

.icon-Popular_IFTTT:before {
    content: "\e69a"
}

.icon-Popular_Instagram:before {
    content: "\e69b"
}

.icon-Popular_Instapaper:before {
    content: "\e69c"
}

.icon-Popular_lastfm:before {
    content: "\e69d"
}

.icon-Popular_linkedin:before {
    content: "\e69e"
}

.icon-Popular_mail:before {
    content: "\e69f"
}

.icon-Popular_medium:before {
    content: "\e6a0"
}

.icon-Popular_Microsoft_Office:before {
    content: "\e6a1"
}

.icon-Popular_Microsoft_Outlook:before {
    content: "\e6a2"
}

.icon-Popular_Microsoft_Zune:before {
    content: "\e6a3"
}

.icon-Popular_onedrive:before {
    content: "\e6a4"
}

.icon-Popular_onenote:before {
    content: "\e6a5"
}

.icon-Popular_Path:before {
    content: "\e6a6"
}

.icon-Popular_Pinterest:before {
    content: "\e6a7"
}

.icon-Popular_Pocket:before {
    content: "\e6a8"
}

.icon-Popular_Quora:before {
    content: "\e6a9"
}

.icon-Popular_Readability:before {
    content: "\e6aa"
}

.icon-Popular_reddit:before {
    content: "\e6ab"
}

.icon-Popular_RSS:before {
    content: "\e6ac"
}

.icon-Popular_Skype:before {
    content: "\e6ad"
}

.icon-Popular_Soundcloud:before {
    content: "\e6ae"
}

.icon-Popular_spotifycom:before {
    content: "\e6af"
}

.icon-Popular_stackoverflow:before {
    content: "\e6b0"
}

.icon-Popular_steam_game:before {
    content: "\e6b1"
}

.icon-Popular_Stumble:before {
    content: "\e6b2"
}

.icon-Popular_Technorati:before {
    content: "\e6b3"
}

.icon-Popular_tumblr:before {
    content: "\e6b4"
}

.icon-Popular_Twitter:before {
    content: "\e6b5"
}

.icon-Popular_Uber:before {
    content: "\e6b6"
}

.icon-Popular_vimeo:before {
    content: "\e6b7"
}

.icon-Popular_vkcom:before {
    content: "\e6b8"
}

.icon-Popular_Wikipedia:before {
    content: "\e6b9"
}

.icon-Popular_Windows_Store_App:before {
    content: "\e6ba"
}

.icon-Popular_WordPress:before {
    content: "\e6bb"
}

.icon-Popular_YouTube:before {
    content: "\e6bc"
}

figure.highlight {
    position: relative;
    margin-bottom: 2.1em;
    line-height: 1.45em;
    font-size: .9em;
    white-space: pre;
    word-wrap: normal;
    background: #2D2D2D;
    border-radius: .4em;
    overflow: hidden
}

figure.highlight::before {
    content: attr(rel);
    width: 100%;
    height: 38px;
    color: #FFF;
    line-height: 38px;
    font-size: 16px;
    background-image: -webkit-linear-gradient(#e8e7e8,#d3d2d3);
    background-image: linear-gradient(#e8e7e8,#d3d2d3);
    font-weight: 700;
    padding: 0 80px;
    text-indent: 15px;
    float: left
}

figure.highlight::after {
    content: " ";
    position: absolute;
    top: 0;
    left: 20px;
    margin-top: 12px;
    border-radius: 50%;
    background: #fc625d;
    width: 12px;
    height: 12px;
    box-shadow: 20px 0 #fdbc40,40px 0 #35cd4b;
    display: block
}

figure.highlight figcaption {
    padding: 7px 10px;
    font-size: .8em
}

figure.highlight table {
    width: 100%;
    margin: 0;
    display: block;
    overflow: auto
}

figure.highlight table>tbody>tr>td {
    padding: 0;
    border: 0
}

figure.highlight table>tbody>tr>td.gutter {
    max-width: 40px;
    text-align: right;
    font-weight: 700
}

figure.highlight table>tbody>tr>td.code {
    width: 100%
}

figure.highlight pre {
    margin: 0;
    border: none
}

figure.highlight .line {
    height: 20px
}

figure img {
    max-width: 100%;
    margin: auto auto 4px;
    display: block
}

figure figcaption {
    position: absolute;
    top: 172px;
    left: -172px;
    width: 150px;
    margin-top: 0;
    color: #BBB;
    line-height: 22px;
    text-align: right;
    font-size: 14px;
    font-weight: 400
}

pre {
    color: #CCC;
    background: #2D2D2D
}

pre code {
    padding: 0;
    color: #2D2D2D;
    background: 0 0;
    text-shadow: none
}

pre .comment {
    color: #999
}

pre .attribute,pre .css .class,pre .css .id,pre .css .pseudo,pre .html .doctype,pre .regexp,pre .ruby .constant,pre .tag,pre .variable,pre .xml .doctype,pre .xml .pi,pre .xml .tag .title {
    color: #B16
}

pre .built_in,pre .command,pre .constant,pre .literal,pre .number,pre .params,pre .preprocessor {
    color: #0C6
}

pre .css .rules .attribute,pre .formula,pre .header,pre .inheritance,pre .number,pre .ruby .class .title,pre .ruby .symbol,pre .special,pre .string,pre .value,pre .xml .cdata {
    color: #FC3
}

pre .css .hexcolor,pre .title {
    color: #0C6
}

pre .coffeescript .title,pre .function,pre .javascript .function,pre .javascript .title,pre .keyword,pre .perl .sub,pre .python .decorator,pre .python .title,pre .ruby .function .title,pre .ruby .title .keyword {
    color: #B16
}

pre .selector-tag {
    color: #FC3
}

body {
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
}
@-webkit-keyframes fadeIn {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@keyframes fadeIn {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

.main {
    width: 80%;
    max-width: 710px;
    margin: 2rem auto;
    display: block
}

@media screen and (max-width:479px) {
    .main {
        width: 90%;
        margin: 1rem auto
    }
}
.index {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(https://wx3.sinaimg.cn/mw690/0060lm7Tly1g0jxektaybj31c00u0qt0.jpg)center center no-repeat;
    background-size: cover
}
.copyright {
    bottom: 0;
    cursor: default;
    left: 0;
    font-size:12px;
    line-height: 2em;
    position: absolute;
    text-align: center;
    width: 100%;
    font-family: "Monaco";
    text-decoration: none
}
.index>section {
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.08);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}

.index>section>header {
    width: 100%;
    text-align: center
}

.index>section>header>h1 {
    color: #FFF;
    font-size: 2.8rem
}

.index>section>header>h2 {
    margin-top: 1rem;
    color: #FFF;
    font-size: 1.4rem
}

.index>section>header>nav {
    margin-top: 1.8rem
}

.index>section>header>nav>ul {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center
}

.index>section>header>nav>ul>li {
    margin: 0 .4rem
}

.index>section>header>nav>ul>li>a {
    color: #F5F7FA;
    width: 3.4rem;
    height: 2rem;
    line-height: 2rem;
    display: block;
    box-sizing: border-box;
    -webkit-transition: all .4s;
    transition: all .4s
}

.index>section>header>nav>ul>li>a:hover {
    color: #E6E9ED
}

.index>section>header>nav>ul>li>a::after,.index>section>header>nav>ul>li>a::before {
    content: '';
    position: relative;
    height: 1px;
    width: 0;
    background: #FFF;
    display: block;
    -webkit-transition: width .3s;
    transition: width .3s
}

.index>section>header>nav>ul>li>a::after {
    right: -100%;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%)
}

.index>section>header>nav>ul>li>a:hover::after,.index>section>header>nav>ul>li>a:hover::before {
    width: 100%
}

@media screen and (max-width:479px) {
    .index>section>header>nav>ul {
        display: list-item
    }

    .index>section>header>nav>ul>li {
        text-align: center
    }

    .index>section>header>nav>ul>li>a {
        width: 100%
    }

    .index>section>header>nav>ul>li>a::after,.index>section>header>nav>ul>li>a::before {
        height: 0
    }
}

.header,.header>div {
    width: 100%;
    height: 400px
}

.header>nav,.header>nav>ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
}

.header {
    padding: 1rem 2rem;
    color: #F5F7FA;
    background-size: cover
}

.header a {
    color: #F5F7FA;
    -webkit-transition: color .3s;
    transition: color .3s
}

.header a:hover {
    color: #E6E9ED
}

.header>nav {
    position: relative;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    z-index: 1
}

.header>nav>h1 {
    color: #F5F7FA
}

.header>nav>ul>li {
    margin-left: 2rem
}

.header>div {
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    display: table;
    z-index: 0
}

.header>div>div {
    vertical-align: middle;
    display: table-cell;
    background: rgba(0,0,0,.24)
}

.content::after,.post::after {
    position: absolute;
    left: 50%;
    width: .5rem;
    height: .5rem;
    background: #FFF;
    box-shadow: #FFF 0 0 0 .5rem
}

.header>div>div>h1 {
    max-width: 710px;
    margin: auto;
    padding: 0 1rem;
    font-size: 3rem;
    font-weight: 700
}

.header>div>div>h1.title {
    font-size: 2rem
}

.header>div>div>h2 {
    color: #F5F7FA;
    line-height: 3rem;
    font-weight: 400
}

.header>div>div>section {
    margin-top: 1rem
}

.header>div>div>section>.category-list,.header>div>div>section>span,.header>div>div>section>time {
    display: inline-block
}

.header>div>div>section>.tag-list>li {
    margin: 0 .25rem;
    display: inline-block
}

.header>div>div>section>.tag-list>li>a {
    color: #F5F7FA;
    text-decoration: none;
    -webkit-transition: color .3s;
    transition: color .3s
}

.header>div>div>section>.tag-list>li>a:hover {
    color: #E6E9ED
}

.header>div>div>section>.tag-list>li>a::before {
    content: '#'
}

@media screen and (max-width:479px) {
    .header>nav {
        display: block
    }

    .header>nav>h1 {
        display: none
    }

    .header>nav>ul {
        -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
        justify-content: space-around
    }

    .header>nav>ul>li {
        margin-left: 0
    }

    .header>div>div>h1 {
        font-size: 1.6rem
    }

    .header>div>div>h1.title {
        font-size: 1.4rem
    }

    .header>div>div>h2 {
        font-size: 1rem
    }

    .header>div>div>section {
        font-size: .9rem
    }

    .header>div>div>section>time {
        display: block
    }
}

.post {
    margin: 2rem 0;
    padding-bottom: 2rem;
    border-bottom: 1px solid #EBF2F6
}

.post::after {
    content: '';
    margin-left: -.25rem;
    margin-top: 1.7rem;
    border: 1px solid #EBF2F6;
    border-radius: .5rem;
    display: block
}

.post>header>h1 {
    color: #4A4A4A;
    font-size: 1.8rem;
    font-weight: 700
}

.post>header>h1>a {
    color: #4A4A4A;
    -webkit-transition: color .3s;
    transition: color .3s
}

.post>header>h1>a:hover {
    color: #313131
}

.post>footer {
    margin-top: 1rem
}

.post>footer>div {
    color: #9EABB3;
    font-size: .9rem
}

.post>footer>div>.category-list {
    margin: 0 .5rem;
    display: inline-block
}

.post>footer>div>.category-list a {
    color: #9EABB3
}

.post>footer>div>time {
    padding-left: .5rem;
    font-size: .9rem;
    border-left: 1px solid #EBF2F6
}

.post>footer>.tag-list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
}

.post>footer>.tag-list>li>a {
    margin-right: .5rem;
    color: #9EABB3;
    font-size: .8rem
}

.post>footer>.tag-list>li>a::before {
    content: '#'
}

@media screen and (max-width:479px) {
    .post {
        margin: 1rem 0;
        padding-bottom: 1rem
    }

    .post::after {
        margin-top: .7rem
    }

    .post>header>h1 {
        font-size: 1.4rem
    }

    .post>footer {
        margin-top: .4rem
    }

    .post>footer>div>time {
        padding: 0;
        font-size: .8rem;
        border: none;
        display: block
    }
}

.pagination {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.pagination>a {
    padding: .2rem .8rem;
    color: #4A4A4A;
    border: 1px solid #4A4A4A;
    border-radius: .4rem;
    display: block
}

.content {
    margin: 2rem 0;
    padding-bottom: 2rem;
    border-bottom: 1px solid #EBF2F6
}

.content::after {
    content: '';
    margin-left: -.25rem;
    margin-top: 1.7rem;
    border: 1px solid #EBF2F6;
    border-radius: .5rem;
    display: block
}

.content>footer>.tag-list>li>a::before,.content>section h1:hover>a::after,.content>section h2:hover>a::after,.content>section h3:hover>a::after,.content>section h4:hover>a::after,.content>section h5:hover>a::after,.content>section h6:hover>a::after {
    content: '#'
}

.content>section {
    color: #444;
    font-size: 1.1rem;
    word-break: break-all;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.content>section h1,.content>section h2,.content>section h3,.content>section h4,.content>section h5,.content>section h6 {
    color: #444;
    font-weight: 400;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}

.content>section h1:hover>a,.content>section h2:hover>a,.content>section h3:hover>a,.content>section h4:hover>a,.content>section h5:hover>a,.content>section h6:hover>a {
    margin-left: 1rem;
    color: #0E83CD;
    font-size: .8em;
    border: 0
}

.content>section h1:hover>a:hover,.content>section h2:hover>a:hover,.content>section h3:hover>a:hover,.content>section h4:hover>a:hover,.content>section h5:hover>a:hover,.content>section h6:hover>a:hover {
    text-decoration: underline
}

.content>footer>.tag-list>li>a:hover,.footer a:hover {
    text-decoration: none
}

.content>section em {
    font-style: italic
}

.content>section a {
    color: #0E83CD;
    border-bottom: 1px dashed #1e9ff0;
    -webkit-transition: color .2s;
    transition: color .2s
}

.content>section a:hover {
    color: #1e9ff0;
    border-bottom: 1px dashed #1e9ff0
}

.content>section img {
    max-width: 100%;
    max-height: 460px;
    margin: auto;
    border: 1px solid #F5F7FA;
    display: block;
    box-shadow: 0 0 4px 0 #4A4A4A;
    opacity: .9;
    -webkit-transition: all .5s;
    transition: all .5s;
    cursor: zoom-in
}

.content>section img:hover {
    opacity: 1;
    box-shadow: 0 0 1px 0 #4A4A4A
}

.content>section code {
    margin: 0 4px;
    padding: 0 6px;
    color: #C7254E;
    word-wrap: break-word;
    background: #F9F2F4;
    border-radius: 2px
}

.content>section blockquote {
    margin-left: 0;
    margin-right: 0;
    padding-top: .4rem;
    padding-bottom: .4rem;
    font-style: italic;
    border-left: 4px solid #AEDCF9
}

.content>section blockquote>p {
    margin: 0
}

.content>section .alt {
    margin-top: .6rem;
    color: #7d7d7d;
    text-align: center;
    font-size: .9rem;
    display: block
}

.content>footer>.tag-list,.footer {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
}

.content>footer>.tag-list>li>a {
    margin-right: .5rem;
    color: #9EABB3;
    font-size: .8rem
}

.footer {
    padding: 1rem 2rem;
    font-size: .9rem;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}

.footer a {
    color: #4A4A4A;
    font-weight: 700
}

@media screen and (max-width:479px) {
    .footer {
        text-align: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column
    }
}
img#logo {
    width: 108px;
    background-size: cover;
    border-radius: 200px;
    box-shadow: 0px 0px 40px rgb(255, 255, 255);
    border: 3px solid rgba(255, 255, 255, 0.61);
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    transition: all 1.0s;  
}
#logo:hover {
    box-shadow: 0 0 10px #fff;
    -webkit-box-shadow: 0 0 19px #fff;
    transform:rotate(360deg);
    -ms-transform:rotate(360deg);   /* IE 9 */
    -moz-transform:rotate(360deg);  /* Firefox */
    -webkit-transform:rotate(360deg); /* Safari 和 Chrome */
    -o-transform:rotate(360deg);    /* Opera */
    filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
